<html>
<head>
    <link rel="stylesheet" href="/css/styleSheet.css"/>
    <link rel="icon" href="/picture/weather_icon.png" />
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main_content">
    {{>header}}
    <img src="/picture/akshay.jpg" />
    <p id="about_info">
        This site is created by Nitin just for fun and learn some stuff.<br>
        U r looking at the poster wink wink:<br>
        Remake of the 2014 film Veeram in which a kind-hearted villager takes down the enemies of his fiancee's father, to safeguard their family.<br>
                    Director: Farhad Samji<br>
                    Writer: Farhad Samji<br>
                    Stars: Akshay Kumar, Kriti Sanon<br>  
    </p>
    </div>
    {{>footer}}
</body>
</html>